* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    background-color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background:linear-gradient(135deg, #6b6b6b, #1e1e1e); /* Gradient background */;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 15px;
}

.color-box {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border: 2px solid #6b6b6b;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.color-btn {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.color-btn:hover {
    transform: scale(1.1);
}

#gameStatus {
    font-weight: bold;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}